{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h1>查詢包裹狀態</h1>
  <form role="form" action="/query" method="get">
    <div class="row">
      <div class="form-group col-md-6 col-xs-6">
        <label for="packageID">包裹ID</label>
        <input type="text" class="form-control" id="queryIdInput" name="query_id" placeholder="輸入包裹ID">
      </div>
    </div>

    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="site" id="siteRadios1" value="blackcat" checked>
          黑貓宅急便
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="site" id="siteRadios2" value="chinese">
          中國郵政
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default">查詢</button>
  </form>
</div>
{% endblock %}
