{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h1>新增查詢包裹</h1>
  <form role="form" id="add-new-form">{% csrf_token %}
    <div class="form-group">
      <label for="packageID">包裹ID</label>
      <input type="text" class="form-control" id="queryIdInput" name="query_id" placeholder="輸入包裹ID">
    </div>
    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="site" id="siteRadios1" value="blackcat" checked>
          黑貓宅急便
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="site" id="siteRadios2" value="chinese">
          中國郵政
        </label>
      </div>
    </div>
    <button type="submit" id="add" class="btn btn-default">新增</button>
  </form>
</div>

<div class="container">
  <h2>包裹總覽</h2>
  <table class="table table-hover" id='packages-list'>
    <tr>
      <th>包裹ID</th>
    </tr>
    {% for package in packages %}
    <tr>
      <td>{{ package }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<script src="{{ STATIC_URL }}js/package.js"></script>
{% endblock %}